<tbody>
    <% for (let item of arr) { %>
        <tr>
            <% for (let title of keys) { %>
                <% tdClass = (title === 'id')? 'id': 'item' %>
                <td class="<%=tdClass%>">
                    <%= item[title] %>
                </td>
            <% } %>
        </tr>
    <%} %>
</tbody>